.login-form {
	max-width: 400px;
	padding: 20px;
	border: 1px solid #977272;
	border-radius: 5px;
	background-color: #2f86ae;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
.register-form {
	max-width: 400px;
	padding: 20px;
	border: 1px solid #977272;
	border-radius: 5px;
	background-color: #2f86ae;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  